
<ion-content>
  <h1 class="title ion-text-center">Lighting the way <span class="blue">with diagnostics</span></h1>
  <img src="assets/4menu.jpeg" usemap="#mapmain">
  <map name="mapmain">
      <area class="toNext" href="#nextblue" shape="rect" coords="464, 40, 900, 212" target="_self" alt="Advanced Tools and Technologies">
      <area class="toNext" href="#nextnavy" shape="rect" coords="0, 212, 464, 392" target="_self" alt="Harmonized Support">
      <area class="toNext" href="#nextlime" shape="rect" coords="463, 212, 900, 392" target="_self" alt="Process Optimization">
  </map>


  <ion-card class="next-generation">
    <ion-card-header>
      <ion-card-title><h2>NEXT GENERATION DIAGNOSTICS</h2></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Minimize tech time and maximize diagnostic potential with unique parameters and reflexive testing capabilities.
      Sysmex’s leading-edge technology and unmatched expertise deliver the tools you need to build the lab of tomorrow.

      <ion-list>
        <ion-item>
          <section class="list-content">
            <ion-label><h3>ADVANCED CLINICAL PARAMETERS (ACP)</h3></ion-label>
            <div class="text">
              Sysmex has automated and expanded the measures of hematopoiesis to accelerate the identification and enumeration of reportable immature cell indices.
              Below are the ACPs that are uniquely provided by Sysmex:

              <ul>
                <li>
                  <h4>Immature Granulocytes (IG)</h4>
                  <p>the number of metamyelocytes, myelocytes, and promyelocytes.</p>
                </li>
                <li>
                  <h4>Reticulocyte Hemoglobin (RET-He)</h4>
                  <p>the amount of hemoglobin in the reticulocyte.</p>
                </li>
                <li>
                  <h4>Immature Platelet Fraction (IPF)</h4>
                  <p>a measure of immature platelets present.</p>
                </li>
              </ul>
              <img src="assets/BABB_ACP.png" alt="Learn more about ACP" id="BABB_ACP"/>
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>FLUORESCENT PLATELET</h3></ion-label>
            <div class="text">
              This unique methodology provides sensitivity and selectivity to improve platelet counting accuracy in the presence of abnormalities.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>BODY FLUID DIFFERENTIALS</h3></ion-label>
            <div class="text">
              Fluorescent flow technology is used to automate two part differentials in body fluid samples;
              this speeds turnaround time and enhances consistency and reproducability of patient results.

              Excellent low-end sensitivity permits automated results to be reported on samples with few cells.
              This greatly minimizes the need for time-consuming and laborious manual counts.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>RERUN/REFLEX TESTING</h3></ion-label>
            <div class="text">
              This automatically generates additional tests based on user-defined rules to reduce the amount of time to interpret results,
              increase consistency in interpreting results, and reduce the need for manual counting.
            </div>
          </section>
        </ion-item>


        <ion-item>
          <section class="list-content">
            <ion-label><h3>SYSMEX PATIENT CARE SPECIALISTS</h3></ion-label>
            <div class="text">
              We maintain a team of clinical experts on staff who become an integral,
              working part of the customer relationship, providing ongoing clinical expertise and support to your clinicians,
              the lab and its stakeholders.

              Sysmex Patient Care Specialists are uniquely qualified to assist your lab with the promotion,
              adoption and implementation of advanced clinical parameters while keeping you apprised of the latest clinical
              and diagnostic developments coming out of Sysmex R&D.
            </div>
          </section>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card class="advanced-tools-and-technologies">
    <ion-card-header>
      <ion-card-title><h2>ADVANCED TOOLS AND TECHNOLOGIES</h2></ion-card-title>
    </ion-card-header>

    <ion-card-content>

      Sysmex analyzers utilize thoughtful software applications to streamline operations,
      reduce maintenance and calibration time, and ensure quality.
      Remote monitoring through our secure network, SNCS, allows us to proactively help you avoid costly downtimes.


      <ion-list>
        <ion-item>
          <section class="list-content">
            <ion-label><h3>SYSMEX MANAGED CALIBRATION PROGRAM</h3></ion-label>
            <div class="text">
              Sysmex technical specialists perform routine calibration of your analyzers remotely,
              reducing non-productive analyzer time by as much as 84% and making sure you’re always in compliance.
              Sysmex uses evidence-based calibration to take available information from the analyzer and
              combine it with information from Insight™ and your analyzer to make informed decisions
              about the analyzer calibration status.

              Having all the information available translates into more confidence
              in the quality of calibration verification and patient results.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>BeyondCare℠ Quality Monitor and Insight IQAP Program</h3></ion-label>

            <h4>BeyondCare Quality Monitor</h4>
            <div class="text">
              Sysmex BeyondCareSM Quality Monitor (BCQM) is a unique, evidence-based quality management program that monitors
              the health and accuracy of your analyzers.
              Imagine the confidence and freedom your lab will gain from an intelligent system that monitors
              the quality of your investment in real time, optimizing the performance of your laboratory and the value of your results.

              The BeyondCare Quality Monitor is available for hematology and urinalysis systems, and will revolutionize the way you look at QC.
              To learn more, click here.
            </div>

            <h4>Insight IQAP Program</h4>
            <div class="text">
              Instantly document and maintain your Q.A. history for analyzer peer comparison data across multiple sites with a single login.


              <ul>
                <li>On demand and flexible reporting options</li>
                <li>OAbility to manage QC</li>
                <li>OAccessible 24/7 lot-to-date reporting</li>
                <li>OOnline QC record storage for up to 2 years.</li>
                <li>OSingle login access for reports across multi-analyzer sites</li>
                <li>OComprehensive support available 24/7</li>
              </ul>

            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>BUSINESS INTELLIGENCE REPORTING</h3></ion-label>
            <div class="text">
              Information and insights help improve decision-making in virtually every area of your lab,
              from clinical performance and productivity to staffing.

              Sysmex Caresphere™ Workflow Solution (WS) provides a complete battery of business intelligence reports enabling
              the laboratory to monitor and evaluate key performance data and metrics associated with lavender top testing data.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>DYE CARTRIDGE TAGS</h3></ion-label>
            <div class="text">
              Faster, more accurate recognition of proper dye cartridges is achieved, further decreasing time involved in reagent change-outs.
            </div>
          </section>
        </ion-item>


        <ion-item>
          <section class="list-content">
            <ion-label><h3>MULTI-SITE/MULTI LIS</h3></ion-label>
            <div class="text">
              This enables standardization of rules and processes across your entire enterprise,
              making auto-validation possible for all analyzers, whether you’re operating one or 100 locations.
              Sysmex Caresphere™ Workflow Solution (WS) provides software that consolidates all analyzers and
              devices via one order interface and result interface to the LIS.
              The ability to combine multiple devices into a single interface can be both a cost savings and operational advantage.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>CONCENTRATED REAGENT DELIVERY SYSTEM</h3></ion-label>
            <div class="text">
              Sysmex Concentrated Reagent Delivery System provides diluent from concentrate,
              reducing change-outs by over 90%, which results in less container lifting for lab staff and frees up valuable storage space.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>ANALYZER MONITORING</h3></ion-label>
            <div class="text">
              Sysmex has moved beyond merely remotely monitoring your analyzer.
              We use proactive services to help prevent emergency downtime.
              Customers who use a secure SNCS™ connection tell us how critical predictive monitoring is to their overall productivity.

              Remote, secure internet access connects your lab and our 24/7 staff for analyzer monitoring,
              automated peer-comparison and easy calibration verification.
            </div>
          </section>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card class="process-optimization">
    <ion-card-header>
      <ion-card-title><h2>PROCESS OPTIMIZATION</h2></ion-card-title>
    </ion-card-header>

    <ion-card-content>

      Automated Lavender Top Management® means hands-free processing of more than 90 percent of your samples
      when you customize with the SP-50TM slidemaker stainer, DI-60TM cell image analyzer and TS-10TM tube sorter.
      Sysmex Caresphere™ Workflow Solution (WS) decision support software is designed to help labs achieve exceptional efficiency
      through paperless workflow, standardized rules and streamlined auto-validation.

      <ion-list>
        <ion-item>
          <section class="list-content">
            <ion-label><h3>SYSMEX Caresphere™ Workflow Solution (WS)​</h3></ion-label>
            <div class="text">
              Sysmex Caresphere™ Workflow Solution (WS) decision support software for the clinical laboratory allows
              labs to improve efficiency and increase capacity without adding staff, enabling you to seamlessly manage
              your entire suite of hematology data while increasing auto-validation rates to as high as 90%.

              With Sysmex Caresphere™ Workflow Solution (WS), technologists are freed up to focus on complex and variant results,
              helping promote higher levels of patient care and safety.​
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>AUTOMATED SLIDE PREPARATION AND STAINING</h3></ion-label>
            <div class="text">
              Fully automated, integrated slide making produces high quality blood smears
              with reliable consistency for easier identification and counting to accelerate results reporting.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>EDTA AUTOMATED LAVENDER TOP MANAGEMENT®</h3></ion-label>
            <div class="text">
              Hands-free management for more than 90 percent of EDTA tubes throughout
              the entire analytical process drives sample handling consistency,
              greater productivity and overall operational efficiency.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>HIGHEST RELIABILITY</h3></ion-label>
            <div class="text">
              Sysmex has been consistently rated the highest in hematology analyzer reliability for the past 21 years*.
              US hematology laboratories have also rated Sysmex #1 for system performance, service performance and support,
              including predictive diagnostics performance*.
              It is our commitment to provide the exceptional quality in our solutions. (*IMV ServiceTrak Hematology 2019)
            </div>
          </section>
        </ion-item>


        <ion-item>
          <section class="list-content">
            <ion-label><h3>PAPERLESS PROCESSING</h3></ion-label>
            <div class="text">
              Easy, online look-up of scattergrams and histograms together with test results eliminate
              the need to print and store graphical reports, saving time and costs while streamlining workflow.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>STANDARDIZED HEMATOLOGY SOLUTIONS</h3></ion-label>
            <div class="text">
              Consistent user interfaces and operational analyses across
              your health network provides your clinicians with a more uniform clinical picture.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>CELL IMAGE ANALYSIS INTEGRATION</h3></ion-label>
            <div class="text">
              Complete automation of manual WBC differential processes, integrating CBC analysis,
              slide preparation, slide staining and digital image preclassification of cells are provided in a complete workcell.
              Now you can free highly skilled medical technologists to spend more time on the difficult cases
              that require careful analysis and assessment.
              Automated Cell Image Analysis provides a more standardized differential result and
              extensive network connectivity to enhance the level of service your laboratory provides clinicians and patients.
            </div>
          </section>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>




  <ion-card class="advanced-tools-and-technologies">
    <ion-card-header>
      <ion-card-title><h2>ADVANCED TOOLS AND TECHNOLOGIES</h2></ion-card-title>
    </ion-card-header>

    <ion-card-content>

      Sysmex analyzers utilize thoughtful software applications to streamline operations,
      reduce maintenance and calibration time, and ensure quality.
      Remote monitoring through our secure network, SNCS, allows us to proactively help you avoid costly downtimes.


      <ion-list>
        <ion-item>
          <section class="list-content">
            <ion-label><h3>SYSMEX MANAGED CALIBRATION PROGRAM</h3></ion-label>
            <div class="text">
              Sysmex technical specialists perform routine calibration of your analyzers remotely,
              reducing non-productive analyzer time by as much as 84% and making sure you’re always in compliance.
              Sysmex uses evidence-based calibration to take available information from the analyzer and
              combine it with information from Insight™ and your analyzer to make informed decisions
              about the analyzer calibration status.

              Having all the information available translates into more confidence
              in the quality of calibration verification and patient results.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>BeyondCare℠ Quality Monitor and Insight IQAP Program</h3></ion-label>

            <h4>BeyondCare Quality Monitor</h4>
            <div class="text">
              Sysmex BeyondCareSM Quality Monitor (BCQM) is a unique, evidence-based quality management program that monitors
              the health and accuracy of your analyzers.
              Imagine the confidence and freedom your lab will gain from an intelligent system that monitors
              the quality of your investment in real time, optimizing the performance of your laboratory and the value of your results.

              The BeyondCare Quality Monitor is available for hematology and urinalysis systems, and will revolutionize the way you look at QC.
              To learn more, click here.
            </div>

            <h4>Insight IQAP Program</h4>
            <div class="text">
              Instantly document and maintain your Q.A. history for analyzer peer comparison data across multiple sites with a single login.


              <ul>
                <li>On demand and flexible reporting options</li>
                <li>OAbility to manage QC</li>
                <li>OAccessible 24/7 lot-to-date reporting</li>
                <li>OOnline QC record storage for up to 2 years.</li>
                <li>OSingle login access for reports across multi-analyzer sites</li>
                <li>OComprehensive support available 24/7</li>
              </ul>

            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>BUSINESS INTELLIGENCE REPORTING</h3></ion-label>
            <div class="text">
              Information and insights help improve decision-making in virtually every area of your lab,
              from clinical performance and productivity to staffing.

              Sysmex Caresphere™ Workflow Solution (WS) provides a complete battery of business intelligence reports enabling
              the laboratory to monitor and evaluate key performance data and metrics associated with lavender top testing data.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>DYE CARTRIDGE TAGS</h3></ion-label>
            <div class="text">
              Faster, more accurate recognition of proper dye cartridges is achieved, further decreasing time involved in reagent change-outs.
            </div>
          </section>
        </ion-item>


        <ion-item>
          <section class="list-content">
            <ion-label><h3>MULTI-SITE/MULTI LIS</h3></ion-label>
            <div class="text">
              This enables standardization of rules and processes across your entire enterprise,
              making auto-validation possible for all analyzers, whether you’re operating one or 100 locations.
              Sysmex Caresphere™ Workflow Solution (WS) provides software that consolidates all analyzers and
              devices via one order interface and result interface to the LIS.
              The ability to combine multiple devices into a single interface can be both a cost savings and operational advantage.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>CONCENTRATED REAGENT DELIVERY SYSTEM</h3></ion-label>
            <div class="text">
              Sysmex Concentrated Reagent Delivery System provides diluent from concentrate,
              reducing change-outs by over 90%, which results in less container lifting for lab staff and frees up valuable storage space.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>ANALYZER MONITORING</h3></ion-label>
            <div class="text">
              Sysmex has moved beyond merely remotely monitoring your analyzer.
              We use proactive services to help prevent emergency downtime.
              Customers who use a secure SNCS™ connection tell us how critical predictive monitoring is to their overall productivity.

              Remote, secure internet access connects your lab and our 24/7 staff for analyzer monitoring,
              automated peer-comparison and easy calibration verification.
            </div>
          </section>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card class="harmonized-support">
    <ion-card-header>
      <ion-card-title><h2>HARMONIZED SUPPORT</h2></ion-card-title>
    </ion-card-header>

    <ion-card-content>

      remains dedicated to helping busy labs manage the growing complexities of today’s advanced hematology environments
      through an unequaled combination of innovative resources and
      best-in-class personal service – all designed to continuously improve lab operations and elevate the overall level of patient care.

      Every aspect of laboratory support has been integrated into a revolutionary platform that
      delivers the information technologists and administrators need to make more informed decisions and
      the level of expert support the industry has come to expect from Sysmex throughout the entire solution lifecycle.

      <ion-list>
        <ion-item>
          <section class="list-content">
            <ion-label><h3>COMPREHENSIVE CONTINUING EDUCATION</h3></ion-label>
            <div class="text">
              Your staff’s educational and training needs are vital to your organization.
              At Sysmex, we have powerful options that are tailored to your unique educational and
              training needs from on-demand learning to virtual classroom instruction – and everything in between.

              <ul>
                <li>Webinars</li>
                <li>Regional Symposia</li>
                <li>User Groups</li>
                <li>Virtual Training with Live Instructors</li>
                <li>Online Training</li>
                <li>In-Person Training</li>
              </ul>
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>EVIDENCE-BASED MAINTENANCE</h3></ion-label>
            <div class="text">
              Strategically aligns maintenance to system use and test volumes rather than calendar-based intervals,
              ensuring resources are deployed when and where they make the most sense.

              Keeping analyzers running at optimal levels keeps your laboratory working at peak performance.
              Not only does Sysmex make the world’s most reliable hematology analyzers*,
              we use technology to keep them ready to perform. Our support technologies have been designed with one goal:
              to keep your analyzer available for testing so you can focus on what’s most important, high quality patient care.
              *Ranked #1 by IMV ServiceTrak™ 2014.
            </div>
          </section>
        </ion-item>

        <ion-item>
          <section class="list-content">
            <ion-label><h3>CUSTOMER RESOURCE CENTER (CRC)</h3></ion-label>
            <div class="text">
              The Sysmex Customer Resource Center (CRC) puts an expansive library of Sysmex information,
              documentation and expert resources in your hands. The CRC is your online,
              single information source with access anywhere, anytime.
              This service provides a customized view of the information your lab needs.

              <h4>AVAILABLE INFORMATION INCLUDES:</h4>

              <ul>
                <li>CLSI-formatted procedure templates</li>
                <li>Implementation manuals</li>
                <li>Technology overview information</li>
                <li>Insight™ IQAP Portal</li>
                <li>Training portal - Center for Learning	• Operator manuals</li>
                <li>Installation guides</li>
                <li>Quick guides</li>
                <li>Slide supported case studies</li>
              </ul>

              <img src="assets/1-Visit-Our-Customer-Resource-Center (1).jpeg" />
            </div>
          </section>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <section class="beyond-care">
    <img src="assets/beyond-care.png" />
    <div class="text">
      With BeyondCare, every aspect of the laboratory experience has been integrated
      into a revolutionary platform that provides our customers with greater visibility into their systems,
      real-time data to create instantly actionable insights,
      and single-point support throughout the entire solution life-cycle.
      BeyondCare anticipates the resources you need from Sysmex and integrates them into a high-performance team that
      supports the way your lab operates, streamlining communications and eliminating costly layers of communication that
      can often contribute to analyzer downtime and work-flow issues.
    </div>
  </section>

  <common-footer></common-footer>
</ion-content>
