<ion-header>
  <ion-toolbar>
    <ion-title>SYSMEX Login Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-input placeholder="username" name="username" type="text"></ion-input>

    </ion-row>
    <ion-row>
      <ion-input placeholder="password" name="password" type="password"></ion-input>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="close()">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
