<ion-content>

    <h1 class="title ion-text-center blue">PRODUCTS AND SERVICES​</h1>

    <div class="slides">
      <ion-card>
        <img src="assets/products-overview/hematology.png">
        <ion-card-header>
          <ion-card-subtitle>A GLOBAL LEADER IN AUTOMATED HEMATOLOGY DIAGNOSTICS</ion-card-subtitle>
          <ion-card-title>HEMATOLOGY</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card>
        <img src="assets/products-overview/POL-Doctors-Offices-Clinics.png">
        <ion-card-header>
          <ion-card-subtitle>The Intelligent, Affordable Choice for Your Lab</ion-card-subtitle>
          <ion-card-title>POL - FOR DOCTOR OFFICES AND CLINICS</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card>
        <img src="assets/products-overview/Mulitspecies-Hematology.png">
        <ion-card-header>
          <ion-card-subtitle>Set a New Standard in Multispecies Hematology (For Animal Use Only)  </ion-card-subtitle>
          <ion-card-title>HEMATOLOGY - MULTISPECIES</ion-card-title>
        </ion-card-header>

      </ion-card>

      <ion-card>
        <img src="assets/products-overview/Urinalysis.png">
        <ion-card-header>
          <ion-card-subtitle>AUTOMATED URINALYSIS SOLUTION UN-SERIES</ion-card-subtitle>
          <ion-card-title>URINALYSIS</ion-card-title>
        </ion-card-header>

      </ion-card>

      <ion-card>
        <img src="assets/products-overview/Flow-Cytometry.png">
        <ion-card-header>
          <ion-card-subtitle>Commit to advancements in flow cytometry, building upon our hematology knowledge and strengthened</ion-card-subtitle>
          <ion-card-title>URINALYSIS</ion-card-title>
        </ion-card-header>

      </ion-card>

      <ion-card>
        <img src="assets/products-overview/Hemostasis.png">
        <ion-card-header>
          <ion-card-subtitle>With Sysmex Hemostasis Systems, labs can accurately and precisely measure the factors required to stop bleeding and identify possible abnormalities that could lead to excessive bleeding or thrombosis.</ion-card-subtitle>
          <ion-card-title>HEMOSTASIS</ion-card-title>
        </ion-card-header>

      </ion-card>

      <ion-card>
        <img src="assets/products-overview/Informatic-Solutions.png">
        <ion-card-header>
          <ion-card-subtitle>CARESPHERE™ DIGITAL SOLUTIONS—TOOLS FOR A SMARTER LAB</ion-card-subtitle>
          <ion-card-title>INFORMATIC SOLUTIONS</ion-card-title>
        </ion-card-header>

      </ion-card>
    </div>

</ion-content>
